// Ref: https://github.com/nuxt-community/vuetify-module#customvariables

$border-radius-root: 5px;

$btn-letter-spacing: 0;
$btn-text-transform: none;
$btn-font-weight: 400;

$data-table-regular-header-height: 52px;
$data-table-regular-row-height: 60px;

$tabs-item-letter-spacing: 0;

$btn-outline-border-width: 1.5px;

$black: #000000;
$grey-lighten: #8e8e8e;